header{
    display: flex;
    justify-content: flex-end;
    padding: 20px var(--padding-side);
    font-weight: 600;

    nav{
        display: flex;

        .link{
            display: inline-block;
            position: relative;
            text-decoration: none;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 700;
        }

        .link::after{
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--color-blue);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        .link:hover{
            opacity: 0.7;
        }

        .link:hover::after{
            transform: scaleX(1);
            transform-origin: bottom left;

        }
    }
}